{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": false,
    "chai": false,
    "sinon": false
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "max-len": [
      "error",
      120
    ],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off"
  }
}
